@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Noto+Serif+SC&family=Roboto:wght@300;400&display=swap");

$base-color: #f6fff8;
$primary-color: #a4c3b2;
$accent-color: #6b9080;
$dark-gray: #cce3de;
$light-gray: #eaf4f4;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: $base-color;
  min-width: 640px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
