@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap");

$base-color: #f6fff8;
$primary-color: #a4c3b2;
$accent-color: #6b9080;
$dark-gray: #cce3de;
$light-gray: #eaf4f4;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $base-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
