.wrapper {
  margin: 5rem auto;

  &.mobile {
    .title-heading {
      height: 120px;
    }

    .table__container {
      table {
        padding-top: 36px;
        thead {
          top: 120px;
        }
      }
    }
  }
}

.title-heading {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $base-color;
  box-shadow: 0 0 2px $accent-color;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    font-size: 2rem;
    color: $accent-color;
    text-shadow: 2px 2px $dark-gray;
    font-family: "Noto Serif SC", serif;
  }
}

table {
  margin: 0 auto;
  border-style: solid;
  border-color: $light-gray;

  thead {
    position: sticky;
    top: 80px;
  }

  th,
  td {
    padding: 0.8rem;
  }

  .index-attributes {
    background: $accent-color;
    color: $base-color;
  }

  .column-locks {
    background: $base-color;
    th {
      border-right: 2px dotted $dark-gray;
      &:last-of-type {
        border: none;
      }
    }
  }

  th {
    &.is-checked {
      background: $dark-gray;
      background: repeating-linear-gradient(45deg, $light-gray, $dark-gray 8px);
    }
  }

  td {
    background-color: $dark-gray;
    font-size: 1.5rem;
    font-family: "Noto Serif SC", serif;

    &.is-hidden {
      color: $dark-gray;
    }
  }

  input[type="checkbox"] {
    color: white;
    accent-color: $accent-color;
    transform: scale(1.5);
  }
}
