.wrapper {
  margin: 6rem auto;

  &.mobile {
    .title-heading {
      height: 120px;
    }

    .table__container {
      table {
        padding-top: 36px;
        thead {
          top: 120px;
        }
      }
    }
  }
}

.title-heading {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $base-color;
  box-shadow: 0 0 2px $accent-color;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  h1 {
    text-align: center;
    font-size: 2rem;
    color: $accent-color;
    text-shadow: 2px 2px $dark-gray;
    font-family: "Noto Serif SC", serif;
  }
}

table {
  margin: 0 auto;
  border-style: solid;
  border-color: $light-gray;

  thead {
    position: sticky;
    top: 80px;
  }

  th,
  td {
    padding: 0.8rem;
  }

  .index-attributes {
    background: $accent-color;
    color: $base-color;
  }

  .column-locks {
    background: $base-color;
    th {
      border-right: 2px dotted $dark-gray;
      &:last-of-type {
        border: none;
      }
      &:first-of-type {
        pointer-events: none;
      }
    }
  }

  th {
    &.is-checked {
      background: $dark-gray;
      background: repeating-linear-gradient(45deg, $light-gray, $dark-gray 8px);
    }
  }

  tr {
    &.is-highlighted {
      background: #d9fc7f;
      td {
        background: transparent;
      }
    }
  }

  td {
    background-color: $dark-gray;
    font-size: 1.5rem;
    font-family: "Noto Serif SC", serif;
    user-select: none;

    &.is-locked {
      color: transparent;
      background: repeating-linear-gradient(45deg, $light-gray, $dark-gray 8px);
      user-select: none;
    }
    &.is-visible {
      color: inherit !important;
      &::after {
        content: none;
      }
    }
  }

  input[type="checkbox"] {
    color: white;
    accent-color: $accent-color;
    transform: scale(1.5);
  }
}

.unlock-btn {
  height: 100px;
  width: 100%;
  border-radius: 4px 0 0 4px;
  border: 4px solid $light-gray;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: $accent-color;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light-gray;
  font-size: 2rem;
  user-select: none;
  z-index: 1000;
  &::before {
    content: "";
    display: block;
    height: 40px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    position: absolute;
    top: -40px;
  }
}
